header {
    width: 100%;
    height: 30rem;
}

.log-img {
    with: 50px;
    height: 50px;
    border-radius: 50% 50%;
}

.login {
    width: 50px;
    height: 50px;
}

.logoGlt {
    width: 50%;
    padding: 60px;
}
